$font-stack:    Helvetica, sans-serif;
$dawn: #BDC3B9;
$industrial: #5B5A59;
$yellow: #F5CD11;
$blueberry: #596F84;
$green: #6AB144;
$purple: #73539B ;
$teal: #c5dfdb;
$orange: #e89555;
$beige: #ebe4cd;

@use '_reset';
@use "_plants.scss";
// html {
 
// }

body {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  min-height:100%;
}

#app   {
    background-color: $dawn;
    width:375px;
    // min-height: 812px;
    margin:auto;
    overflow:scroll;
}

.boldtext {
    font-family: proxima-nova, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
}

.boldtext > a {
  border-bottom:1em;
  border-color:$orange;
}

.boi {
  background-color:$beige;
}

.line {
  stroke:$teal;
//   stroke-width: 2em;
}

.endLine {
  stroke:$industrial;
  stroke-width: 1em;
}

.label {
  font-size:0.5em;
}

#popupContainer {
  display:contents;
}


