/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.pContainer {
  position: fixed;
  margin: auto;
  z-index: 1000;
  width: 5em;
  height: 15em;
  top: 3em;
  right: 2em;
}

.pSmall {
  font-size: 1em;
}

.pMedium {
  font-size: 2em;
}

.pLarge {
  font-size: 3em;
}

.plantElement {
  float: left;
  position: absolute;
  overflow: visible;
}

.pPot {
  bottom: 0;
  z-index: 1;
  width: 5em;
}

.pPlant {
  z-index: 3;
}

.pEmote {
  z-index: 2;
  width: 3em;
  margin: auto;
}

.pType1 .pPlant {
  bottom: 4.7em;
  left: -1.5em;
  height: 10em;
  z-index: 0;
}
.pType1 .pEmote {
  bottom: 1em;
}

.pType2 .pPlant {
  bottom: 3em;
  height: 10em;
  z-index: 0;
  left: -1em;
}
.pType2 .pEmote {
  bottom: 1em;
}

.pType3 .pPlant {
  bottom: -1.3em;
  height: 10em;
  left: -3em;
}
.pType3 .pEmote {
  bottom: 2em;
  left: 1em;
}

.pType4 .pPlant {
  bottom: 2em;
  height: 6em;
  left: -0.5em;
}
.pType4 .pEmote {
  bottom: 1em;
}

.pType5 .pPlant {
  bottom: 3em;
  height: 15em;
  left: -3.5em;
  z-index: 0;
}
.pType5 .pEmote {
  bottom: 0.8em;
  left: 1em;
}

.pType6 .pPlant {
  bottom: 3em;
  height: 10em;
  left: -2em;
  z-index: 0;
}
.pType6 .pEmote {
  bottom: 1em;
  left: 1em;
}

body {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  min-height: 100%;
}

#app {
  background-color: #BDC3B9;
  width: 375px;
  margin: auto;
  overflow: scroll;
}

.boldtext {
  font-family: proxima-nova, sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
}

.boldtext > a {
  border-bottom: 1em;
  border-color: #e89555;
}

.boi {
  background-color: #ebe4cd;
}

.line {
  stroke: #c5dfdb;
}

.endLine {
  stroke: #5B5A59;
  stroke-width: 1em;
}

.label {
  font-size: 0.5em;
}

#popupContainer {
  display: contents;
}

#menuContainer {
  background-color: #5B5A59;
}

#menuMain {
  margin-left: 1em;
}

.menuItem {
  display: inline-block;
  padding: 0.2em;
}